html,body{
scrollbar-face-color:#EDF3F7;
scrollbar-shadow-color:#EDF3F7;
scrollbar-highlight-color:#EDF3F7;
scrollbar-3dlight-color:#FFFFFF;
scrollbar-darkshadow-color:#FFFFFF;
scrollbar-track-color:#FFFFFF;
scrollbar-arrow-color:#232323;
scrollbar-base-color:#FFFFFF;
}
td{
font-family:Tahoma, sans-serif;
font-size:9pt;
color:#232323;
}
.mnbdy{
background-color:#FFFFFF;
overflow:auto;
padding:2px;
margin:0px;
}
.fmbdy{
background-color:#FFFFFF;
padding:2px;
margin:0px;
}
A:link{
text-decoration:none;
color:#578EB5;
}
A:visited{
text-decoration:none;
color:#578EB5;
}
A:active{
text-decoration:underline;
color:#233C4D;
}
A:hover{
text-decoration:underline;
color:#233C4D;
}
.hbtbl{
table-layout:fixed;
word-wrap:break-word;
overflow:hidden;
}
.stxt{
background-color:#FFFFFF;
color:#232323;
}
.stxt2{
background-color:#EDF3F7;
color:#232323;
}
.dtxt{
color:#92B6D0;
font-size:7pt;
text-align:right;
}
.dtxt2{
color:#92B6D0;
font-size:7pt;
text-align:right;
}
.cfrm{
margin-bottom:0px;
}
.frmtb{
padding-left:3px;
padding-right:3px;
font-family:Tahoma, sans-serif;
font-size:9pt;
background-color:#EDF3F7;
border:#C3D7E5 1px solid;
color:#232323;
margin: 1px 2px 1px 2px;
}
.frmbtn{
font-family:Tahoma, sans-serif;
font-size:9pt;
background-color:#C3D7E5;
border:#C3D7E5 1px solid;
color:#232323;
font-weight:bold;
padding-left:3px;
padding-right:3px;
vertical-align:top;
margin: 1px 2px 1px 2px;
}
.lnk{
color:#578EB5;
}
.pic{
width:45px;
height:45px;
margin-left:-2px;
margin-right:0px;
padding-right:2px;
float:left;
}